/* Federico Trotta 267518 */

/* Googel fonts */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jacquard+12&family=Jacquard+24&family=Kings&family=Modern+Antiqua&family=Rubik+Wet+Paint&family=Ultra&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jacquard+12&family=Jacquard+24&family=Kings&family=Macondo&family=Metamorphous&family=Modern+Antiqua&family=Nova+Script&family=Rubik+Wet+Paint&family=Ultra&display=swap');

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

p, label, option, select, td, nav {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

img {
  border-radius: 14px;
  border: 1px solid rgb(27, 243, 200);
}

#nuevos article,
#destacados img,
#reservas img,
footer nav a {
  transition: transform 0.3s;
}

#nuevos article:hover,
#destacados img:hover,
#reservas img:hover,
footer nav a:hover {
  transform: scale(1.04);
  box-shadow: 0 0 9px 1px #2cdeaf;
  border: 1px solid rgb(27, 243, 200);
  cursor: pointer;
}



/* Navbar CSS */
nav {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  margin: 70px auto;
}

nav img {
  height: 100px;
  border: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
  margin-left: 100px;
}

nav ul li a:hover {
  background-color: rgb(244, 244, 244);
}

/* header CSS */
header {
  background-image: url("../img/header.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  width: 100%;
  width: 1280px;
}

header p {
  font-size: 1.4rem;
  width: 100%;
  text-align: end;
  width: 1280px;
  padding-bottom: 20px;
}

header a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #fff;

  border: 1px solid grey;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  margin-left: 20px;
}

header a:hover {
  background-color: #2d2d2d;
}

main {
  background-color: rgb(222, 220, 220);
  margin: 70px 0;
  padding: 20px 0;
}

section {
  width: 1280px;
  margin: 0 auto;
}

/* Nuevos CSS */
#nuevos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#nuevos h1 {
  width: 100%;
  text-align: center;
  font-size: 46px;
  margin: 40px 0;
  text-transform: uppercase;
}

#nuevos article {
  width: 32%;
  border: 1px solid grey;
  padding-bottom: 20px;
  border-radius: 10px;
}

#nuevos article h2 {
  margin: 10px 0;
  padding: 0 10px;
}

#nuevos article p {
  padding: 0 10px;
  font-size: 1.3rem;
}

#nuevos article p:nth-of-type(2) {
  text-align: end;

}

#nuevos article p a {
  text-decoration: none;
  color: black;
  text-align: end;
  border: 1px solid grey;
  display: inline-block;
  padding: 10px;
}

#nuevos article a:hover {
  background-color: rgb(223, 216, 216);
}

#nuevos img {
  width: 100%;
}

/* Destinos destacados CSS*/
#destacados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr 1fr;
  gap: 20px;
}

#destacados h1 {
  grid-column: span 3;
  text-align: center;
  font-size: 48px;
}

#destacados h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
}

#destacados p {
  font-size: 1.3rem;
}

#destacados article:nth-of-type(2) {
  grid-column: span 2;
}

#destacados img[src="./img/Dawnstar.jpg"] {
  width: 100%;
  height: 300px;
}

#destacados article:nth-of-type(3) {
  grid-row: span 2;
  grid-column: span 1;
}

#destacados img[src="./img/Markarth.jpg"] {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

#destacados article:nth-of-type(4) {
  grid-row: span 1;
  grid-column: span 1;
}

#destacados article:nth-of-type(5) {
  grid-row: span 1;
  grid-column: span 1;
}

#destacados img[src="./img/Solitude.webp"] {
  width: 100%;
  height: 300px;
}

#destacados article:nth-of-type(6) {
  grid-row-start: 5;
  grid-column: span 1;
}

#destacados article:nth-of-type(7) {
  grid-row-start: 4;
  grid-column: span 2;
  grid-row: span 2;
}

#destacados article:nth-of-type(7) img {
  height: 620px;
  width: 100%;
  object-fit: cover;
}

/* Seccion Reservas y horarios CSS*/

#reservas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  gap: 20px;
}

#reservas h1 {
  grid-column: span 4;
  grid-row: span 1;
  text-align: center;
  font-size: 3rem;
}

#reservas article:nth-of-type(1) {
  grid-column: span 2;
}

#reservas article:nth-of-type(2) {
  grid-column: span 2;
}

#reservas h2 {
  text-align: center;
  margin-bottom: 20px;
}

#reservas article:nth-of-type(2) form {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#reservas input[type="text"], input[type="email"] {
  display: block;
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

#reservas select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#reservas textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
}

#reservas p {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
}

#reservas label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#reservas input[type="checkbox"]+label {
  width: 43%;
}

#reservas article:nth-of-type(2) fieldset:nth-of-type(1), fieldset:nth-of-type(2) {
  width: 49%;
  border: 0;
}

#reservas article:nth-of-type(2) input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  color: #fff;
}

#reservas article:nth-of-type(2) input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(174, 170, 170);
}

#reservas article:nth-of-type(2) h2 {
  width: 100%;
}

#reservas img[src="./img/horse_ride.webp"] {
  width: 100%;
  border-radius: 10px;
}

#reservas article:nth-of-type(3) {
  grid-column: span 3;

}

#reservas article:nth-of-type(3) table {
  width: 100%;
  border-collapse: collapse;

}

#reservas td {
  border: 1px solid rgb(227, 223, 223);
  padding: 10px;

}

#reservas tr:nth-child(odd) {
  background-color: rgb(137, 137, 137);
}

#reservas article:nth-of-type(3) table th {
  text-align: start;
  background-color: black;
  color: #fff;
  padding: 10px;
}

#reservas article:nth-of-type(3) table tr:hover {
  background-color: aqua;
  cursor: pointer;
}

#reservas img[src="./img/Lake.jpg"] {
  width: 300px;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
}

/* Footer CSS */
footer {
  border-top: 1px solid grey;
}

footer nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  padding: 30px 0;
}

footer nav img {
  height: 60px;
}